<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>X-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>X-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>X-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>X-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2118270C1D257C86003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211827151D257C86003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211827281D257CA2003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211827311D257CA2003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211827441D257CB1003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211827511D257CB7003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2118275A1D257CB8003F2BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
